	# --- osas2026-games (github.com/bagaswibowo25/osas2026-games) ---
	redir /games/memory /games/memory/ 308
	redir /games/distro /games/distro/ 308
	redir /games/command /games/command/ 308
	redir /games/admin /games/admin/ 308
	handle_path /games/memory/* {
		reverse_proxy games-memory:80
	}
	handle_path /games/distro/* {
		reverse_proxy games-distro:80
	}
	handle_path /games/command/* {
		reverse_proxy games-command:80
	}
	handle_path /games/admin/* {
		reverse_proxy games-admin:8080
	}
	# --- end osas2026-games ---
